.plant-container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    > .plant {
        width: 35%;
    }
    @media screen and (orientation: landscape) {
        margin-top: 1%;
        > .plant {
            width: 18%;
        }
        @media screen and (min-width: 1440px) {
            margin-top: 2%;
        }
    }
    @media screen and (orientation: portrait) {
        @media screen and (min-width: 400px) {
            margin-top: 15%;
        }
        @media screen and (min-width: 450px) {
            margin-top: 20%;
        }
        @media screen and (min-width: 500px) {
            margin-top: 7%;
            > .plant {
                width: 22%;
            }
        }
        @media screen and (min-width: 550px) {
            margin-top: 11%;
        }
        @media screen and (min-width: 600px) {
            margin-top: 14%;
        }
        @media screen and (min-width: 700px) {
            margin-top: 18%;
        }
        @media screen and (min-width: 860px) {
            margin-top: 22%;
        }
        @media screen and (min-width: 1050px) {
            margin-top: 25%;
        }
    }
}