.plant-container {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    > .plant {
        width: 35%;
    }
    @media screen and (orientation: landscape) {
        margin-top: 1%;
        > .plant {
            width: 18%;
        }
    }
    @media screen and (min-width: 400px) and (max-width: 767px) {
        margin-top: 15%;
    }
    // PORTRAIT TABLET VIEW
    @media screen and (orientation: portrait) and (min-width: 768px) {
        margin-top: 35%;
    }
}