.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 35px 20px 35px;
    > .header-row {
        width: 100%;
        display: flex;
        &--action-btns {
            justify-content: space-between;
            align-items: center;
            > .more-info-btn {
                height: 38px;
                width: 29px;
                border: none;
                background: url('../../assets/book-icon.png') no-repeat center center;
                background-size: contain;
                cursor: pointer;
            }
        }
        &--logo {
            justify-content: center;
            margin-top: 50px;
            > .header-logo-link {
                text-decoration: none;
                > .logo {
                    width: 152px;
                }
            }
        }
    }
}