.app {
  width: 100vw;
  min-height: 100vh;
  background-image: url('./assets/mobile-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  @media screen and (min-width: 768px) {
    background-size: contain;
  }
  @media screen and (orientation: landscape) {
    background-image: url('./assets/desktop-bg.png');
    max-width: 1440px;
    max-height: 1024px;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }

  .landscape-hint-and-stats {
    width: 100%;
    max-width: 1440px;
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
  }

  .water-plant-prompt {
    font-family: '04B 30';
    font-size: 12px;
    color: #60ECFF;
    margin-top: 13%;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
      font-size: 20px;
      margin-top: 7%;
    }
  }
}
