.app {
  width: 100vw;
  min-height: 100vh;
  background-image: url('./assets/mobile-bg.png');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  @media screen and (orientation: landscape) {
    background-image: url('./assets/desktop-bg.png');
  }

  .hidden {
    display: none;
  }
}
