.notepad {
    height: calc(90vw * (1344 / 1032));
    width: 90vw;
    max-height: calc(500px * (1344 / 1032));
    max-width: 500px;
    padding: 7% 5% 3% 8%;
    ::-webkit-scrollbar {
        width: 13px;
    }
    ::-webkit-scrollbar-track {
        background: #322D28;
        border: none;
    }
    ::-webkit-scrollbar-thumb {
        background: #595959;
        border: 1px solid #000000;
    }
    > .notepad-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        filter: drop-shadow(0px 4px 30px rgba(207, 127, 56, 0.5));
    }
    > .notepad-content {
        position: absolute;
        height: 80%;
        left: 16%;
        right: 3%;
        padding-right: 15px;
        margin-top: 40px;
        overflow-y: scroll;
        @media screen and (orientation: landscape) {
            margin-top: 0px;
        }
        .notepad-section:first-child {
            margin-bottom: 40px;
        }
        .notepad-subsection {
            margin-bottom: 15px;
        }
        .notepad-section-heading {
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        .notepad-subsection-heading {
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        .notepad-text {
            font-size: 8px;
            line-height: 10px;
        }
        .notepad-subsection-list-item {
            margin: 10px 0;
        }
        @media screen and (min-width: 768px) {
            .notepad-section-heading {
                font-size: 20px;
            }
            .notepad-subsection-heading {
                font-size: 12px;
                line-height: 14px;
            }
            .notepad-text {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
}